* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e4e5ec;
    font-family:  "Antonio", sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
    row-gap: 50px;
}

.text {
   display: flex;
   justify-content: center;
   align-items: stretch;
}
.text .border {
    width: 10px;
    background-color: #0b111b;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-right: 10px;
}

.text h2 {
    font-size:5rem;
   text-transform: capitalize;
   color: #0b111b;
}


.calcule {
    background-color: #ffffff;
    border-radius: 15px;
    flex-basis: 280px;
    display: flex;
    flex-direction: column;
}
.screen{
 font-size: 30px;
 /* background-color: aquamarine; */
border-top-left-radius: 15px;
border-top-right-radius: 15px;
padding: 60px 10px 0px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    gap: 10px;
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -o-user-select: none; /* Opera */
}

.btn {
    background-color: #eeeeee;
    text-align: center;
    padding: 10px 6px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.btn-oper {
    color: #58b3f0;
}

.btn:hover {
    background-color: #58b3f0;
    color: #ffffff;
}
@media screen and (max-width: 768px){
    .text {
        display: none;
    }
    .container{
        display: block;
        width: 100%;;
        
}
    .calcule {
        width: 100%;
        margin: 0 auto;
        min-height: 100vh;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
.screen {
    margin-top: 50px;
}
}